/* 这个文件里写的是全局样式,在各个页面都生效 */
body, html, .owo {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  user-select: text;
  font: normal 12px/180% "SimSun";
  -webkit-overflow-scrolling: touch;
  position: relative;
}
html {
  background-color: white;
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
}
h1, h2, h3, h4, h5, input {
  margin: 0;
  padding: 0;
}
ul, li {
  list-style-type: none;
}

a {
  cursor: pointer;
  text-decoration: none;
}
a:hover {
  color: white;
  text-decoration: underline;
}

h1, h2, h3, h4, h5, h6, hr, p, blockquote, dl, dt, dd, ul, ol, li, pre, form, button, input, textarea, th, td{
  margin: 0;
  padding: 0;
}

.clear:after {
  content: "";
  height: 0;
  line-height: 0;
  display: block;
  visibility: hidden;
  clear: both;
}

.so-3-2 {
  position: absolute;
  left: 72px;
  top: 186px;
  z-index: 8;
}
.so-3-7 {
  position: absolute;
  left: 162px;
  top: 1249px;
  z-index: 3;
}
.so-3-6 {
  position: absolute;
  left: 413px;
  top: 1249px;
  z-index: 4;
}
.so-3-1 {
  position: absolute;
  left: 436px;
  top: 181px;
  z-index: 9;
}
.so-3-0 {
  position: absolute;
  left: 569px;
  top: 181px;
  z-index: 10;
}

.scale-box {
  overflow: hidden;
  background-image: url("@|h5-bg.jpg|");
}

.pc {
  background-image: url("@|pc-bg.jpg|");
  background-size: 100% 110%;
  background-position: center top;
}

.pc .scale-box {
  background-image: none;
}

.pc .five .so-0-1, .pc .five .so-0-2 {
  display: none;
}